body{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    display: flex;
    justify-content: center;
}
.sim{
    background-color: white;
    
    border: solid;
    max-width: 10em;
    max-height: 10em;
    text-align: center;
}

canvas{
    border: solid;
    margin: 2em;
    width:clamp(10vw,60em,85vw);
    max-height: 40em;
}
.btns{
    display: flex;
}
.sliders{
    display: flex;
    
}
.box{
    display: flex;
    flex-direction: column;
    max-width: 5em;
    text-align: center;
    border: none;
    border-bottom:solid ;
    border-right: solid;
    margin-right: 0.3em;
    
}
.btns{
    gap:0.5em;
    *{
        background-color: white;
        border:none;
        border-right: solid;
        border-bottom: solid;

    }
}