body{
    background-color: white;

}
.title{
    display: flex;
    justify-content: center;
}
.sim{
    background-color: blue;
    border: solid;
    max-width: 10em;
    max-height: 10em;
    text-align: center;
}

canvas{
    border: solid;
    margin: 2em;
    min-width: 80vw;
}
.btns{
    display: flex;
}